.social-bar {
  position: fixed;
  top: 65%;
  left: 20px;
  transform: translateY(-50%);
  color: white;
  text-align: center;
  z-index: 100;
   margin-left: 12px;
}

.follow-text span {
  display: block;
  margin: 1px 0;
  font-size: 18px;
   
}

.icons a {
  display: block;
  margin: 8px 0;
  font-size: 20px;
  text-decoration: none;
}